/*Tags on all pages*/
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

p {
	font-size: 1.2em;
}

h1 {
	font-size: 2.5em;
}

label {
	font-size: 1.2em;
}

/*Classes for all pages*/
.page-container {
	min-height: 100vh; /*So that the footer can be at the bottom at all times*/
	display: flex;
	flex-direction: column;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: green;
}

.background-image { /*Sets background on navbar and footer*/
	background-image: url("backgroundImage.avif");
	background-size: cover;
	background-position: center;
}

.content {
	flex: 1; /*If there is a small amount of content this make sure that the footer is at the bottom*/
	width: 80%;
	margin: auto;
	padding-bottom: 64px;
}

.subject-image { /*The image on each page*/
	height: 200px;
	margin-left: 20px;
}

.next-page-link { /*The button at bottom of page to next page*/
	text-decoration: none;
	font-size: 1.2em;
	padding: 10px;
	background-color: lightgreen;
	color: black;
	border-radius: 0.5em;
}

.next-page-link:hover { /*When mouse hovers*/
	background-color: darkgreen;
	color: white;
}

.footer {
	width: 100%;
	color: darkgreen;
	font-weight: bold;
	font-size: 1.2em;
	height: 3rem;
	display: flex;
	align-items: center; /*Aligns the text center vertically*/
	justify-content: center; /*Aligns the text center horisontally*/
}

/*Classes for quiz page*/
.questions-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}
.question {
	display: flex;
	flex-direction: column;
}

#submit-button {
	background-color: lightgreen;
	color: black;
	font-size: 1.2em;
	border: none;
	border-radius: 0.5em;
	margin-top: 20px;
	padding: 10px;
}

#submit-button:hover { /*When mouse hover submit button*/
	background-color: darkgreen;
	color: white;
}